<mat-card class="m-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                <p class="hackathon--title">{{hackathon.title}}</p>
                <p class="hackathon--description">{{hackathon.description}}</p>
                <ul class="hackathon--tags">
                    <li class="hackathon--tag-item" *ngFor="let tag of hackathon.tags">
                        #{{tag}}
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <p class="hackathon--created-at">Created At: {{hackathon.created_at | date: 'dd/MM/yyyy'}}</p>
                <p class="hackathon--vote-count">Votes: {{hackathon.votes.length}}</p>
                <img *ngIf="showUpVote && canUpVote()" class="hackathon--vote-image" src="assets/img/up-vote.png" (click)="upVote()">
                <img *ngIf="showUpVote && !canUpVote()" class="hackathon--vote-image" src="assets/img/down-vote.png" (click)="upVote()">
            </div>
        </div>
    </div>
</mat-card>

