.login {

    &--container {
        background-image: url('../../../assets/img/login-banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    &--form-container {
        background-color: white;
        width: 34%;
        position: absolute;
        top: 26%;
        left: 32%;
        border-radius: 22px;
        text-align: center;
        padding: 24px;
    }

    &--logo-container {
        position: relative;
        height: 0;
        width: 92%;
        padding: 0;
        padding-bottom: 20%;
        margin-left: 4%;
    }

    &--logo-image {
        position: absolute; 
        height: 100%; 
        width: 100%; 
        left: 0; 
        top: 0;
    }

    &--welcome {
        margin-top: 8%;
        font-size: 28px;
        font-weight: bolder;
        margin-bottom: 4%;
    }

    &--error-message {
        color: red;
        font-weight: bolder;
    }
}

@media only screen and (max-width: 600px) {

    .login {
        &--form-container {
            background-color: white;
            width: 100%;
            position: absolute;
            border-radius: 22px;
            text-align: center;
            padding: 24px;
            left: 0;
        }
    }
  }