<div class="container-fluid login--container">
    <div class="login--form-container">
        <div class="login--logo-container">
            <img class="login--logo-image" src="assets/img/logo.svg">
        </div>
        <div>
            <p class="login--welcome">Welcome</p>
        </div>
        <div>
            <input class="form-field" (focus)="onFocus()" [(ngModel)]="employeeId" type="text" placeholder="employeeID">
        </div>
        <div>
            <input class="form-field" (focus)="onFocus()" [(ngModel)]="password" type="password" placeholder="Password">
        </div>
        <div *ngIf="errorMessage && errorMessage !== ''" class="m-1">
            <p class="login--error-message">{{errorMessage}}</p>
        </div>
        <div class="mt-2">
            <button class="primary-button" (click)="validate()">Login</button>
        </div>
    </div>
</div>