/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import 'theme/colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.width-100 {
    width: 100%;
}

.float-right {
    float: right;
}

// .primary-button {
//     background-color: #94c852;
//     color: white;
//     font-weight: bold;
//     border: none;
//     padding: 10px 20px;
//     border-radius: 20px;
// }

.primary-button {
    background-color: $primary-color;
    color: white;
    font-weight: bolder;
    padding: 10px 40px;
    border-radius: 22px;
    border: none;
}

.secondary-button {
    background-color: white;
    color: $primary-color;
    font-weight: bolder;
    padding: 10px 40px;
    border-radius: 22px;
    border: 1px solid $primary-color;
}

.form-field {
    width: 70%;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 32px;
}

pagination-template nav ul li.current {
    background-color: $primary-color !important;
    font-weight: bolder;
}
